@page "/"

<div class="row">
   
    <div class="col-6">
        <ToDo HeaderName="DailyTasks">

        </ToDo>
    </div>

    <div class="col-6">
        <ToDo HeaderName="MonthlyTasks">

        </ToDo>
    </div>


</div>